<p>post here</p>

 <div *ngFor="let post of posts"
{{post.postsId}}
{{post.likes}}
{{post.dislikes}}
></div>
<div>
  <h3>Posts</h3>
  <ul>
    <li *ngFor="let post of posts">
      {{post.postId}}
      {{post.authorId}}
      {{post.likes}}
      {{post.dislikes}}
    </li>
  </ul>
</div>


<form>
<input id="post" type="text" [(ngModel)]="postmsg" name="post"/>
<button id="postBtn" type="button" (click)="submitPost()">Submit</button>
</form>

<h1>I am here!</h1>
<p>Welcome </p>

<p> update Test </p>
<button id="postBtn" type="button" (click)="updatePost()">update Test</button>
