<div class="container">
    <app-success *ngIf="isSuccessful" [show]="isSuccessful"></app-success>
    <div class="row">
        <div class="post-submittion">
            <textarea rows="5" id="post" name="post" class="post-big" [(ngModel)]="postmsg" placeholder="What would you like to share?"></textarea>
            <button id="getBtn" type="button" class="btn-post" (click)="submitPost()">Post</button>
        </div>
    </div>
    <ng-container *ngFor="let p of posts">
        <app-post *ngIf="p.parentPostId == null" [userAccount]="account" [post]="p"></app-post>
    </ng-container>
</div>