.post-section {
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    margin: 2rem;
}

.post-section .name {
    color: rgb(0, 136, 126);
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.post-section .date {
    font-size: .8rem;
}

.btn-post {
    display: flex;
    flex-direction: row;
}

.detail-like {
    margin-right: 1rem;
}

.detail-like small {
    margin-left: .2rem;
}
.post-comment small {
    margin-left: .2rem;
}
.post-comment {
    z-index: 2;
    background-color: white;
    cursor: pointer;
}

.input-comment {
    height: 0;
    background-color: white;
    transition: all 500ms ease-in-out;
}

.input-comment input {
    width: 100%;
    height: 0;
    transition: all 500ms ease-in-out;
    border-radius: 2px;
    border: 1px solid #b3bfc8;
}

.expand {
    height: 2rem !important;
    transition: all 500ms ease-in-out;
}

.expand2 {
    height: 3rem;
    transition: all 500ms ease-in-out;
}

.btn-comment {
    background-color: #1ab394;
    color: white;
    border: none;
    border-radius: 2px;
}

.detail-like {
    cursor: pointer;
}

.comment {
    margin-top: 1rem;
    margin-left: 2rem;
}
.comment .date {
    margin: 0;
}

.post-section {
    border-left: 2px solid #DAE0E6;
}

.loading-pulse {
    margin-top: 1rem;
    margin-left: 1rem;
    position: relative;
    width: 6px;
    height: 24px;
    background: rgba(86, 61, 124,.5);
    -webkit-animation: pulse 750ms infinite;
            animation: pulse 750ms infinite;
    -webkit-animation-delay: 250ms;
            animation-delay: 250ms;
  }
  .loading-pulse:before, .loading-pulse:after {
    content: "";
    position: absolute;
    display: block;
    height: 16px;
    width: 6px;
    background: rgba(86, 61, 124,.5);
    top: 50%;
    transform: translateY(-50%);
    -webkit-animation: pulse 750ms infinite;
            animation: pulse 750ms infinite;
  }
  .loading-pulse:before {
    left: -12px;
  }
  .loading-pulse:after {
    left: 12px;
    -webkit-animation-delay: 500ms;
            animation-delay: 500ms;
  }

  @-webkit-keyframes pulse {
    50% {
      background: white;
    }
  }
  @keyframes pulse {
    50% {
      background: white;
    }
  }
.close {
    cursor: pointer;
    color: red;
}

button {
    display: block;
    border: 1px solid rgb(5, 80, 179);
    background-color: rgb(9, 103, 211);
    color: rgb(229, 231, 235);
    padding: 8px 16px;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
    font-weight: 700;
}

.modal-content {
    margin: auto;
    margin-top: 2rem;
    max-width: 50%;
    min-width: 35%;
    max-width: 70%;
    background-color: white;
    padding: 1rem;
    border-radius: 4px;
}

.cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}