<div class="bg">
    <div class="container login-contain">
        <div class="login-p">
            <h1>Login</h1>
            <form>
                <input id="usernameInput" type="text" [(ngModel)]="username" name="username" placeholder="Username"/> <!-- two-way binding -->
                <input id="passwordInput" type="password" [(ngModel)]="password" name="password" placeholder="Password" />
                <button id="getBtn" type="button" (click)="handleLogin()">Login</button>
            </form>
            <button id="getBtn" type="button" (click)="clickedRegister()">Register</button>

            <div id="registerModal" class="modal">
            <div class="modal-content">
                <span class="close" (click)="clickedClose()">&times;</span>
                <h4>Register a New Account</h4>
                <p>Username</p>
                <textarea rows="1" id="username" name="post" class="post-big" [(ngModel)]="username" placeholder="Username"></textarea>
                <p>Password</p>
                <textarea rows="1" id="userpass" name="post" class="post-big" [(ngModel)]="password" placeholder="Password"></textarea>
                <button id="getBtn" type="button" class="btn-update" (click)="clickedConfirm()">Register</button>
            </div>
            </div>

        </div>
    </div>

</div>
